{% extends 'shared/base_account.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block content %}

    <!-- start hero -->
			<div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 40%" style="background-image: url({% static 'img/intro_img/15.jpg' %});color: #333;">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-7">
							<h2 class="__title"><span>Agro</span> Вход</h2>

							<p>
								The point of using is that it has a more-or-less normal distribution of letters, as opposed to using Content here content here making it look
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end hero -->

			<!-- start main -->
			<main role="main">
				<!-- Common styles
				================================================== -->
				<link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css">

				<!-- Load lazyLoad scripts
				================================================== -->
				<script>
					(function(w, d){
						var m = d.getElementsByTagName('main')[0],
							s = d.createElement("script"),
							v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
							o = {
								elements_selector: ".lazy",
								data_src: 'src',
								data_srcset: 'srcset',
								threshold: 500,
								callback_enter: function (element) {

								},
								callback_load: function (element) {
									element.removeAttribute('data-src')

									oTimeout = setTimeout(function ()
									{
										clearTimeout(oTimeout);

										AOS.refresh();
									}, 1000);
								},
								callback_set: function (element) {

								},
								callback_error: function(element) {
									element.src = "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
								}
							};
						s.type = 'text/javascript';
						s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
						s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
						m.appendChild(s);
						// m.insertBefore(s, m.firstChild);
						w.lazyLoadOptions = o;
					}(window, document));
				</script>

				<!-- start section -->
				<section class="section">
					<div class="decor-el decor-el--1" data-jarallax-element="-70" data-speed="0.2">
						<img class="lazy" width="286" height="280" src="img/blank.gif" data-src="{% static 'img/decor-el_1.jpg' %}" alt="demo"/>
					</div>

					<div class="decor-el decor-el--3" data-jarallax-element="-70" data-speed="0.2">
						<img class="lazy" width="115" height="117" src="img/blank.gif" data-src="{% static 'img/decor-el_3.jpg' %}" alt="demo"/>
					</div>

					<div class="decor-el decor-el--4" data-jarallax-element="-70" data-speed="0.2">
						<img class="lazy" width="84" height="76" src="img/blank.gif" data-src="{% static 'img/decor-el_4.jpg' %}" alt="demo"/>
					</div>

					<div class="container">
						<div class="row">

							<div class="col-12 col-md-6 col-lg-5 col-xl-8 offset-lg-1 offset-xl-2">
								<h2>Sign <span>in</span></h2>

								<!-- start form -->
								<form method="POST" class="auth-form">
									{% csrf_token %}
									{{ form.errors }}
									<div class="input-wrp">
										<input name="email" class="textfield" type="email" placeholder="Email *" />
									</div>

									<div class="input-wrp">
										<input name="password" class="textfield" type="password" placeholder="Пароль" />
									</div>

									<div class="row align-items-center justify-content-between">
										<div class="col-auto">
											<label class="checkfield align-bottom">
												<input type="checkbox" checked="">
												<i></i>
												Запомнить меня
											</label>
										</div>

										<div class="col-auto">
											<a class="link-forgot" href="#">Забыли пароль?</a>
										</div>
									</div>

									<div class="d-table mt-8">
										<div class="d-table-cell align-middle">
											<button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit">Войти</button>
										</div>
									</div>
								</form>
								<!-- end form -->

								<div class="spacer py-6 d-md-none"></div>

							</div>

						</div>
					</div>
				</section>
				<!-- end section -->
			</main>
			<!-- end main -->

{% endblock %}